body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
}

main {
  padding: 2rem;
  text-align: center;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.clock-display {
  font-size: 7rem; /* Update the font-size here to adjust the clock size */
}

.alarm-form {
  margin-top: 2rem;
}

.alarm-form h2 {
  margin-bottom: 0.5rem;
}

input[type="time"] {
  font-size: 1rem;
  padding: 0.5rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.weather-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.weather-icon img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.weather-details {
  font-size: 1rem;
}